.chore-list_continer {
    flex: 3;
}

.list-title {
    font-size:20px;
    text-align: center;
    margin: 0px;
    height: 100px
}

.list-title>h1{
    margin: 0px;
}

form {
  margin: 20px;
}
