.chore-list_continer {
    display: inline-grid;
    flex: 3;
    width: 32%;
    padding: 4px;
}

.list-title {
    font-size:20px;
    text-align: center;
    margin: 0px;
    height: 100px
}

.list-title>h1{
    margin: 0px;
}
