.chore-item {
  font-size: 10px;
  color: black;
  padding: 4px;
  margin: 4px;
}

.title {
  background: #212829;
  height: 30px;
  padding-top: 3px;
  padding-left: 5px;
}

.chore-name {
  font-size: 20px;
  color: white;
}

input {
    float: right;
}

.chore-description {
    padding: 5px;
}

.chore-item:hover {
  cursor: pointer;
}

.chore-item:hover .assign-to-label {
  display: block;
}

.assign-to-label {
  display: none;
  font-size: 20px;
}

.footer-menu {
  padding-top: 5px;
}

ul {
  height: 30px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
  height: 100%;
}

li button {
  height: 100%;
  background-color: #333;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

li button:hover {
  background-color: #111;
}
