.page-layout_wrapper{
  flex-direction: column;
}

.container{
  max-width: 100%;
  height: 100%;
}

.page-layout_header{
  display: flex;
  flex-direction: column;
}

.page-layout_title{
  flex: 3;
  background: cadetblue;
  margin: 0;
}

.page-layout_nav_bar{
  flex: 1;
  display: flex;
  background: darkcyan;
  justify-content: center
}

.page-layout__viewport {
  padding-top: 10px;
  flex: 7;
  background: beige;
}

.page-layout__nav-item--active {
  font-weight: bold;
  text-decoration: underline;
}
