
.homeView-container {
  margin: 10px;
  border-radius: 20px;
  border-color: #ffffff;
  background-color: #ffffff;
  display: inline-block;
  width: 40%;
}

.login-space{
  flex: 2;
}

.login-continer{
  flex-direction: column;
  display: flex;
  align-items: center;
}

.btn-primary{
  margin: 20px;
  background-color: #3fa794;
  border-color: #ffffff;
}

.panel-footer {
  margin: 10px;
}

.panel-heading {
    padding: 5px 15px;
}

.form-group {
  text-align: left;
}

form {
  margin-top: 10px;
}

h5 {
  padding: 15px;
}
